body{
 background-color: #181818; 
 width: 1920px;  
 height: 1080px; 
 
} 
 
 
hr{ 

color: white; 
} 

 
.headerLinks{
  color: #FFFFFF;
  font-family: Arial;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
  padding : 40px; 
  position: absolute;
}




 
 


#profile{ 
 left: 786px;
  top: 60px ;
} 
#about{ 
left: 977px;
  top: 60px;
} 
/* the previous code is for the header, copy this in home, profile, and about me css files */ 

table, th, td {
 border: 1px solid white;
font-family : Arial; 
color: white ; 
  width: 500px; 
  margin-left: auto; 
 margin-right: auto; 
 

}

#transcript{ 
position: absolute;
left: 561px; 
top: 560px;
} 



.text{ 
 position: absolute;
left: 561px; 
top: 284px; 
  color: white;
  font-family: Arial;
  font-size: 20px;
  line-height: 20px;
  width: 655px;
  text-align: left;

} 
