body{
 background-color: #181818 !important;
 height: 100vh; 
 width: 100vw; 
 margin: 0 ; 

} 
hr{ 

color: white !important;
} 
#picture{
 
	margin-top: 20px; 
	margin-bottom: 20px; 
	width : 200px; 
	height:  200px; 
	 border-radius: 50%;
	
}

#picdiv{
	display: flex; 
	justify-content : center; 
	
}

#profile{
	position: absolute ; 
    display: inline-block;
   
	width : 300px ; 
	height: 400px ; 
	background-color: white; 
	 border-radius: 3%;
} 

.info{ 

display: block;

font-family: Arial;
 
  padding: 1opx;
  font-size: 15px; 
  margin: 10px; 
  min-height: 30px ; 
  min-width: 150px ; 
 margin-left: 20px; 

} 
#gradient{
	
	position: relative ; 
	display : flex; 
    align-items: center;
	justify-content: center; 
	width: 310px ; 
	height : 410px ; 
    background: linear-gradient(to right, pink , purple);
	 border-radius: 3%;
	
} 

#addbutton{
	position: relative ; 
	display : flex; 
    align-items: center;
	justify-content: center; 
	width: 310px ; 

 
	
} 
#editProfile{
	width : 50px ; 
	height: 30px; 
	
} 